<h2>欢迎来到青岛理工大学</h2>

<swiper [slidesPerView]="1" [spaceBetween]="50" [navigation]="true" [pagination]="{ clickable: true }"
[controller]="{ control: controlledSwiper }">
<ng-template swiperSlide><img src="assets/images/2018-05-18 03.55.52 1.jpg" alt=""></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/P80531-074306.jpg" alt=""></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/P80531-074858.jpg" alt=""></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/P80531-155632.jpg" alt=""></ng-template>
<ng-template swiperSlide><img src="../../../assets/images/P80601-074229.jpg" alt=""></ng-template>
</swiper>